
# Created by https://www.gitignore.io/api/macos

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos

# debug file
_site
.sass-cache/c5130e60c62d2cef1973815caebac86ac6d82dea/_syntax-highlighting.scssc
.sass-cache/f8a316e9d1e1e137d2b44a9acc58913cf8c88655/jekyll-theme-slate.scssc
.sass-cache/f8a316e9d1e1e137d2b44a9acc58913cf8c88655/rouge-github.scssc
.sass-cache/f8a316e9d1e1e137d2b44a9acc58913cf8c88655/rouge-github.scssc
